{{#with bot}}
<section class="row">
	<div class="col-xs-8">
		<img src="{{stream}}" />
	</div>
	<div class="col-xs-4">
		<div class="status">
			{{#if connected}}
			Connected <i class="fa fa-check-circle" style="color:#08E300;"></i>
			{{else}}
			Disconnected <i class="fa fa-times-circle" style="color:#DED5D5;"></i>
			{{/if}}
			Battery:  <i class="fa fa-battery-3" style="color:#FFEB3B"></i>
			<!--
			<i class="fa fa-battery-0" style="color:#FF0000"></i>
			<i class="fa fa-battery-1" style="color:#FF0000"> </i>
			<i class="fa fa-battery-2" style="color:#FF9800"></i>
			<i class="fa fa-battery-4" style="color:#00FF00"></i>
			-->
		</div>
		<div class="controls">
			<i class="fa fa-arrow-circle-up"></i>
			<i class="fa fa-arrow-circle-left"></i>
			<i class="fa fa-arrow-circle-down"></i>
			<i class="fa fa-arrow-circle-right"></i>
		</div>
	</div>
</section>
{{/with}}
